@tailwind base;
@tailwind components;
@tailwind utilities;

.game_container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(/images/main-bg.png);
  .game_wrapper {
    height: 100vh;
    max-width: 500px;
    width: 500px;
  }
}
